github "kenstack/LoopKit" "ken-updates"
github "kenstack/CGMBLEKit" "ken-updates"
github "i-schuetz/SwiftCharts" == 0.6.5
github "kenstack/dexcom-share-client-swift" "ken-updates"
github "kenstack/G4ShareSpy" "ken-updates"
github "kenstack/rileylink_ios" "ken-updates"
github "LoopKit/Amplitude-iOS" "decreepify"
