github "kenstack/LoopKit" "maxiob"
github "LoopKit/CGMBLEKit" "dev"
github "i-schuetz/SwiftCharts" == 0.6.1
github "mddub/dexcom-share-client-swift" == 0.4.1
github "mddub/G4ShareSpy" == 0.3.3
github "kenstack/rileylink_ios" "maxiob"
github "LoopKit/Amplitude-iOS" "decreepify"
